[user]
	name = Teemu Rintala
	username = teemu-mjr
	email = 71847375+teemu-mjr@users.noreply.github.com
[init]
	defaultBranch = main
[credential]
	helper = store
[merge]
	tool = nvimdiff
[core]
	fileMode = false
